<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630635060347-8b66ctmou0k0aaifndekh485ojteirbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630635060347-8b66ctmou0k0aaifndekh485ojteirbe</string>
	<key>API_KEY</key>
	<string>AIzaSyD3mIoyGeds50Ia0wbh6XikVNXK2nOdfTw</string>
	<key>GCM_SENDER_ID</key>
	<string>630635060347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RSafargalin.ShopApp</string>
	<key>PROJECT_ID</key>
	<string>rs44-shopapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rs44-shopapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630635060347:ios:8a7a72c5a9b937b9b256de</string>
</dict>
</plist>